.message{
    border-top:1px solid rgba(0,0,0,0);
    margin:0px;
    height:30px;
    /*background-color:white;*/
    padding:2px;

    padding-left:7px;
    padding-right:7px;
        
    white-space: nowrap;
    overflow: hidden;
        
    cursor:move;
    
}

.selectedMessage{
    /*background-color:#f1f1ff;*/
    background-color: rgba(255, 100, 0, 1);
}
.draggedMessage{}


.postURL {
    font-size: 65%;
    color:grey;
}

.postTitle {}


.nestedPages{
    clear:both;
    padding-left:20px;
    padding-top:2px;
}

.listMessageOpen{  
    height:auto;
}

.listMessageClosed{}
    
.postInfo{
    background-color:white;
    width:auto;
    height:25px;
    padding-bottom:5px;
}

.previewIcon{
    width:20px;
    height:20px;

    padding-left:5px;
    padding-top:5px;
}

.closeBtn{
    float:right;
}