.message{
    border:1px solid black;
    height:50px;
    background-color:white;
    padding:4px;
    
    margin:3px;
    border-radius:5px;
    
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    
    white-space: nowrap;
    overflow: hidden;
    
    cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    
}

.selectedMessage{
    background-color:rgba(200,200,200, 1.0);
}


@-webkit-keyframes glow {
	0%      {
                -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); 
                -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); 
                border-radius:0px;
            }
            
	50%         {
                -webkit-box-shadow: inset 0px 0px 75px rgba(255, 255, 255, 1); 
                -moz-box-shadow: inset 0px 0px 75px rgba(255, 255, 255, 1);
                border-radius:50%;
            }
    
	100%       {
                -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); 
                -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); 
                border-radius:0px;
            }
}

.draggedMessage{
-webkit-animation-name:             glow;
    -webkit-animation-duration:         1.1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
    
    border:1px dashed black;
    background-color:rgba(200,200,200, 1.0);
}






