#controlPanel{
    float:left;
    width:350px;
    height:100vh;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    -webkit-flex-flow: column;
    -webkit-justify-content: flex-start;
    /*-webkit-align-content: space-around;*/
    
}

#page{
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
    
    
    background-color:lightgrey;
}

#preview{
    width:100%;
    height:100%;

    overflow-y: scroll;
    overflow-x: scroll;
}

#previewPane{
    float:left;
    position:absolute;
    right:0px;
    left:353px;
    100vh:height;
    
    overflow-y: scroll;
    overflow-x: scroll;


}


body{
    font-family: sans-serif;
    overflow:hidden;
    background-color: #FDFFE7;
    background-image: url(bkgs/sandpaper.jpg); /*url(bkgs/sandpaper.jpg);*/
    background-size:150px 150px;
}


.invalidName{
    background-color:rgba(255,100,0,0.5);
}
.validName{
    background-color:rgba(0,255,0,0.5)
}

.handle{
    float:left;
    height:100%;
    width:3px;
    background-color:lightgrey;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor:w-resize;
    z-index:100;
}

.exendedDragHandle{
    background-color:inherit;
    width:32px;
    height:32px;
    margin-left:-30px;
    background-image: url("images/resize.png");
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.5);
    z-index:10;
}

.activeDrag {
    background-color:red;
}



.noHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}