/*The column along the whole left of the page.*/
#controlPanel{
    float:left;
    width:350px;
    height:100vh;

    display: -webkit-flex; /*Its a flex box! */ 
    display: -moz-flex;
    display: -ms-flex;

    -webkit-flex-flow: column;
    -webkit-justify-content: flex-start;
    /*-webkit-align-content: space-around;*/
    
}

#page{ /* The part of the controlPanel where the pages are listed. */
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
    
    
    background-color: lightgrey;
}

#preview{ /* The iframe on the right */
    width:100%;
    height:100%;
}

#previewPane{ /* A box around the iframe on the right */
    float:left;
    position:absolute; /* I did have to abs position it. I should have used flex boxes, in retrospect. */
    right:0px;
    left:353px;
    height: 100vh;

    overflow: hidden;
    -webkit-overflow-scrolling:touch; /* May help with the iphone, may not. Certiantly doesn't hurt. */
}


body{ /*Sets the background. Couldn't get the font to set, I think.*/
    font-family: Georgia, sans-serif !important;
    font-size:15px !important;
    overflow:hidden;
}
#backgroundImage{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-5000;
    width:100%;
    height:100%;
    background-image: url(bkgs/sandpaper.jpg); /*url(bkgs/sandpaper.jpg);*/
    -webkit-filter:  blur(1px);
    background-size:150px 150px;
    

}

.invalidName{ /* Changes the color to tell the user if the list name they have entered is valid or not.*/
    background-color:rgba(255,100,0,0.5);
}
.validName{
    background-color:rgba(0,255,0,0.5);
}

.handle{ /*The hand to drag the width of the left/right divide*/
    float:left;
    height:100%;
    width:3px;
    background-color:lightgrey;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    cursor:w-resize;
    z-index:100;
}

.exendedDragHandle{ /* The bigger part of the handle to make it easier to use on a touch screen. */
    background-color:inherit;
    width:32px;
    height:32px;
    margin-left:-30px;
    background-image: url("images/resize.png");
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.5);
    z-index:10;
    margin-top:90vh;
}

.activeDrag { /* Toggle to show if the drag handle is in use. Helpful on old, laggy machines. */
    background-color:red;
}



.noHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pageName{
    margin:0 auto;
    size:50px;
}