.message{
    border-bottom:1px solid black;
    border-left:1px solid black;
    height:50px;
    background-color:#e1e1e1;
    padding:4px;
    /*
    
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    
   background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0, rgba(225,225,225,0)),
      color-stop(1, rgba(225,225,225,100)));*/

    
    white-space: nowrap;
    overflow: hidden;
    
    cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.selectedMessage{
    background-color:#efefef !important;
}

.messageElement {
    font-size:50%;
    line-height:-50%
    padding:0px;
    margin:0px;
    border:0px;
}

.message:first-child{
    border-top: 1px solid black;
}


#controlPanel{
    float:left;
    width:30vw;
}

#postLink{
    /*height:4vh;*/
}

#postBox{
    width:98%;
    height:100%;
    border:2px dotted black;
    margin: 0 auto;
    padding:1px;
    resize: none;
}

#page{
    height: 91vh;
    overflow-y: scroll;
    overflow-x:hidden;
}

#preview{
    float:left;
    width:70vw;
    height:100vh;
}

#previewImage{
    width:100%;
    height:100%;
}

body{
    overflow:hidden;
    background-color: #e1f1f1;
}


