/*The area above the current list*/
#postLink{
    height:40px;
}

/*The button to make a new list*/
#newList{
    float:left;
    width:20%;
    height:100%;
    background-color:blue;

}

#postBox{
    height:27px;
    width:95%;
    border:0px;
    padding-left:10px;
    border-radius:25px;
    margin:0 auto;
    display: table;
    margin-top:1px;

    margin-top:2px;
    
    vertical-align:middle;


    overflow:hidden;
}

#pageNameBox{
    height:31px;
    width:100%;
    border:1px solid black;
    margin:1px;
    background-color:black;

}