/*The area above the current list*/
#postLink{
    height:40px;
}

/*The button to make a new list*/
#newList{
    float:left;
    width:20%;
    height:100%;
    background-color:blue;

}

#postBox{
    height:27px;
    width: calc(90% - 35px);

    border:0px;
    border-radius:25px;

    padding-left:10px;
    padding-right:10px;


    margin-left:4%;
    margin-top:2px;


    overflow:hidden;
}

#pageNameBox{
    height:31px;
    width:calc(100% - 32px);
    
    margin:1px;
    background-color:black;

    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.5);

    -webkit-align-self: flex-start;

}