#showMoreBtn{
    border-right:1px solid black;
}

#optionsBar{
    bottom:2px;
    height:200px;
    width:100%;

    background-color:white;
    float:left;
    display:block;
    border-top:1px solid black;
    border-right:1px solid black;

    resize: vertical;
}


h2{
    font-size:1.1em;
    font-weight:bold;
}


#closeOption{
    float:right;
}


#newPageName, .listFeedback{
    width:100%;
}
.listFeedback{
    background-color: lightgrey;
}